
    
h1{
   color: blue;
   text-emphasis: bold;
   font-size: 22px;
   text-align: center;
}

h2{
    color: purple;
    font: 11px;
    text-align: center
}
h3{
color: gray;
font-size: 14px;
text-align: center;
}

h4{
color: blue;
font-size: 16px;
text-align: center;    
}

/*-----Mobile Device------*/
@media
(max-width: 960px){
    body{
        background: royalblue;
    }
}