
    
h1{
   color: blue;
   text-emphasis: bold;
   font-size: 22px;
   text-align: center;
}

h2 {
    color: purple;
    font: 11px;
    text-align: center;
}


div class wrapper {
    color: saddlebrown
    font size: 16px
    